
@import "~bulma/sass/utilities/_all";

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

// Set your colors
$primary: #ff9fab;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// inputs
$input-background-color: #f7f7f7;
$input-border-color: #dfdfdf;
$input-shadow: none;
$input-radius: 8px;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$--color-primary: #FF9FAB;
$--color-primary-11: #cc6172;
$--color-primary-10: #d96f7f;
// primary-hover = 9
$--color-primary-9: #e67e8d;
$--color-primary-8: #f28e9c;
// primary
$--color-primary-6: #feb0b8;
$--color-primary-5: #fdc0c5;
$--color-primary-4: #fdced3;
$--color-primary-3: #fddee0;
$--color-primary-2: #feedee;
$--color-primary-1: #fef6f6;

$--color-clear: rgba(255, 255, 255, 0) !default;
$--color-white: #FFFFFF !default;
$--color-black: #000;
$--color-black-90: #1a1a1a;
$--color-black-80: #333333;
$--color-black-70: #4d4d4d;
$--color-black-60: #666666;
$--color-black-50: #808080;
$--color-black-40: #999999;
$--color-black-30: #b3b3b3;
$--color-black-20: #cccccc;
$--color-black-10: #e6e6e6;
$--color-black-5: #f2f2f2;
$--color-black-3: #f7f7f7;
$--color-black-2: #fafafa;

$--color-wetgray-100: #212529;
$--color-wetgray-90 : #303538;
$--color-wetgray-80: #40474d;
$--color-wetgray-70: #525a61;
$--color-wetgray-60: #636c73;
$--color-wetgray-50: #808991;
$--color-wetgray-40: #9ea7ad;
$--color-wetgray-30: #b8bfc4;
$--color-wetgray-20: #d1d5d9;
$--color-wetgray-10: #e6e8eb;
$--color-wetgray-5: #f2f4f5;

$--font-thin: 100;
$--font-light: 300;
$--font-regular: 400;
$--font-medium: 500;
$--font-bold: 700;
// 

.field {
  // margin-bottom: 0px !important;
  .label {
    font: { 
      size: 1em;
      weight: $--font-regular;
    }
    color: $--color-wetgray-60;
  }
  .control {
    input {
      height: 60px;
      color: $--color-wetgray-80;
    }
    &.has-icons-left .icon, &.has-icons-right .icon {
      top: 50%;
      transform: translateY(-50%);
    }
    span.icon {
      i {
        &::before {
          font-size: 1.2em !important;
        }
      }
    }
  }
}


@import "~bulma";
@import "~buefy/src/scss/buefy";